<div class="tags" th:fragment="tags">
    <div class="tags-main mb-1">
        " fklsjd "
    </div>
    <div class="flex flex-row">
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#森哎呀</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#疯狂三点了</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
        <div class="tags-item mr-1">
            <a href="#">#aaaaa</a>
        </div>
    </div>
</div>